// This file is used to style the iframe that is injected into the page
.crx-iframe {
  border: none;
  border-radius: 8px;
  box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.2),
    0 -1px 0px rgba(0, 0, 0, 0.02);
  background-color: #fff;
  margin: 2em;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 420px;
  min-height: 340px;
}
