.crx-iframe {
  margin-left: 8px;
  width: calc(100% - 8px);
  height: auto;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -1px 0px rgba(0, 0, 0, 0.02);
  background-color: #fff;
}
